.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.nav {
    display: flex;
    flex-direction: row;
    padding: 20px 20px;

}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover, .nav-links a:active {
    color: #FF6565;

}


.contact-us {
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-top: 20px;
}

.contact-us h2 {
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
}

.contact-us p {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 8px;
    border : 1px solid black;
}

.contact-form button {
    padding: 10px;
    background-color: #FF6565;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #FF4040;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-links li {
    margin-right: 20px;
}

.footer-links a {
    text-decoration: none;
    color: black;
}

.footer-links a:hover, .footer-links a:active {
    color: #FF6565;
}

.footer-logo {
    margin-top: 10px;
}

.footer-logo img {
    max-width: 100px;
}

.footer-icon {
    margin-top: 10px;
}

.footer-icon img {
    max-width: 30px;
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}
